@forward 'variables';
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,400..900;1,14..32,400..900&family=Poppins:wght@400;500&family=Roboto:wght@400;500&display=swap');

#root {
  width: 100vw;
  height: 100svh;
}

a {
  text-decoration: none;
}

body {
  font-family: Inter, sans-serif;
  color: #2b3440;
  min-height: 100vh;
}
